* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



header {
    background-image: url(img/desktop/image-header.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    padding: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.header-sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navBar {
    display: flex;
}

#menuHamburguer {
    display: none;
}

.navBar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    align-items: center;
}

.navBar ul li {
    font-size: 18px;
    font-family: 'Fraunces', serif;
}

#button-contact {
    padding: 10px;
    background-color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

#button-contact:hover {
    background-color: #6bceff;
    color: white;
    cursor: pointer;
}

.header-sec2 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 220px;
}

.header-sec2 h2 {
    font-size: 62px;
    font-family: 'Fraunces', serif;
    color: white;
    font-weight: 900;
}

main {
    background-color: #FFFBF8;
}

.container-div-1,
.container-div-2,
.container-div-3 {
    display: flex;
}

.info1,
.info2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 130px;
    justify-content: center;
    width: 50%;
}

.info1 h2,
.info2 h2 {
    font-size: 35px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font: 900;
    width: 300px;
    margin-bottom: 30px;
}

.info2 h2 {
    width: 400px;
}

.p1,
.p2 {
    width: 300px;
    text-align: justify;
    margin-bottom: 30px;
}

.vejaMais1,
.vejaMais2 {
    font-weight: bolder;
    padding-left: 2px;
    width: 120px;
    height: 20px;
    color: black;
    font-family: 'Fraunces', serif;
}

.vejaMais1:hover {
    border-bottom: 8px solid hsla(51, 100%, 73%, 0.56);
    border-radius: 5px;
}

.vejaMais2:hover {
    border-bottom: 8px solid hsla(7, 100%, 71%, 0.537);
    border-radius: 5px;
}

.img-1,
.img-2 {
    width: 50%;
}

.info3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(img/desktop/image-graphic-design.jpg);
    background-size: cover;
    width: 50%;
    height: 562px;
}

.info4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(img/desktop/image-photography.jpg);
    background-size: cover;
    width: 50%;
    height: 562px;
}

.info3 h2,
.info4 h2 {
    font-size: 28px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font: 900;
    width: 300px;
    text-align: center;
    margin-bottom: 30px;
}

.info3 div,
.info4 div {
    margin-bottom: 20px;
}

.info3 div p {
    text-align: center;
    margin-bottom: 7px;
    color: hsl(167, 40%, 24%);
}

.info4 div p {
    text-align: center;
    margin-bottom: 7px;
    color: hsl(198, 62%, 26%);
}

.container-2 {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
}

.container-2 h3 {
    color: hsl(210, 4%, 67%);
    text-align: center;
    font-family: 'Fraunces', serif;
    letter-spacing: 7px;
    margin-bottom: 50px;
}

.clientTestimonials {
    display: flex;
    justify-content: center;
}

.clientTestimonials1,
.clientTestimonials2,
.clientTestimonials3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 50px;
    height: 400px;
}

.comentario {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    color: hsl(213, 9%, 39%);
    font-weight: 500;
    height: 80px;
}

.clientTestimonials1 img,
.clientTestimonials2 img,
.clientTestimonials3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.clientTestimonials1-info,
.clientTestimonials2-info,
.clientTestimonials3-info {
    text-align: center;
}

.clientTestimonials1-info p,
.clientTestimonials2-info p,
.clientTestimonials3-info p {
    font-family: 'Fraunces', serif;
    font-size: 18px;
    color: hsl(212, 27%, 19%);
}

.clientTestimonials1-info span,
.clientTestimonials2-info span,
.clientTestimonials3-info span {
    font-size: 12px;
    color: hsl(210, 4%, 67%);
}

.container-3 {
    display: flex;
}

.container-3 img {
    width: 25%;
}

footer {
    background-color: #91D3C5;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-footer {
    display: flex;
    margin: auto;
    width: 500px;
}

.logo-footer img {
    margin: auto;
}

.list-footer {
    display: flex;
    margin: auto;
}

.list-footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.list-footer ul li {
    font-size: 18px;
    font-family: 'Fraunces', serif;
}

.list-footer ul li a {
    color: hsl(168, 34%, 41%);
}

.list-footer ul li a:hover {
    color: white;
}

.redes-sociais {
    margin: auto;
}

.redes-sociais img {
    padding-right: 20px;  
}

.redes-sociais img:hover {
    filter: brightness(8);
}

@media (max-width: 1100px) {

    .info1 h2 {
        width: 250px;
        font-size: 25px;
    }

    .info2 h2 {
        width: 300px;
        font-size: 25px;
    }

    .info3 {
        background-image: url(img/desktop/image-graphic-design.jpg);
        background-size: cover;
        background-position: center;
    }

    .info4 {
        background-image: url(img/desktop/image-photography.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 900px) {

    .info1,
    .info2 {
        padding-left: 80px;
    }
}

@media (max-width: 800px) {
    .header-sec2 h2 {
        font-size: 48px;
    }

    .info1,
    .info2 {
        padding-left: 20px;
    }

    .container-div-3,
    .container-div-4 {
        flex-direction: column;
    }

    .info3,
    .info4 {
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    .container-2 {
        height: 1400px;
    }

    .clientTestimonials {
        flex-direction: column;
        align-items: center;
    }

    .clientTestimonials1,
    .clientTestimonials2,
    .clientTestimonials3 {
        padding-right: 0px;
    }

    .container-3 {
        flex-wrap: wrap;
    }

    .container-3 img {
        width: 50%;
    }

}

@media (max-width: 700px) {

    .container-div-1,
    .container-div-2 {
        flex-direction: column;
    }

    .info1,
    .info2 {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img-1,
    .img-2 {
        width: 100%;
    }

    .info2 {
        order: 1;
    }

    .img-2 {
        order: 2;
    }

}

@media (max-width: 610px) {

    #menu {
        display: none;
    }

    #button-contact {
        display: none;
    }

    .navBar {
        flex-direction: column;
        align-items: center;
    }

    #nav.active #menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 1000;
        position: absolute;
        top: 85px;
        height: 350px;
        right: 0px;
        background-color: white;
        margin-right: 50px;
        border-radius: 2px;
    }

    #nav.active #menu::after {
        content: "";
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: -9px;
        left: 260px;
        background-color: white;
        transform: rotate(48deg);
    }

    #nav.active #menu li a {
        color: hsl(232, 10%, 55%);
    }

    #nav.active #menu li {
        padding: 35px;
    }

    #nav.active #button-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFD602;
        color: black;
        position: absolute;
        top: 365px;
        right: 151.8px;
        z-index: 1000;
    }

    #menuHamburguer {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background-color: #3CBDFE;
        cursor: pointer;
        gap: .5rem;
    }

    .hamburguer {
        display: block;
        border-top: 2px solid white;
        width: 20px;
    }

    .hamburguer::after,
    .hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active .hamburguer {
        border-top-color: transparent;
    }

    #nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
        transition: .3s;
    }

    .header-sec2 h2 {
        font-size: 38px;
    }

    .info1,
    .info2 {
        height: 400px;
    }

    .list-footer ul, .logo-footer {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .header-sec2 h2 {
        font-size: 28px;
    }

    .list-footer ul, .logo-footer {
        width: 300px;
    }
}

@media (max-width: 390px) {
    .header-sec2 h2 {
        font-size: 25px;
    }

}